@model IEnumerable<NbaProje.Models.Teams>

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li><a href="/Thunder/ThunderInfo">Team Information</a></li>
    <li><a href="/Thunder/Thunder">Players</a></li>
    <li class="active"><a href="/Thunder/Team">Team's Stats</a></li>
</ul>

    <table class="table table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamArena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Win)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WinLosePercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointsPerGame)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpponentPointsPerGame)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conference)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.TeamsID == 21)
                {


                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamArena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Win)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WinLosePercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PointsPerGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpponentPointsPerGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conference)
                    </td>

                </tr>
                    }
                }
        </tbody>
    </table>
